:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --solid: #eee;
  --icon-color: #afb1b8;
  --background-grey: #f5f4fa;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* логотип сайта */

.page-header {
  min-height: 60px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo span {
  color: var(--accent-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* навигация сайта */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
  cursor: pointer;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .contact-link {
  margin-left: 305px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  opacity: 1;
  display: block;
  bottom: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  background-size: auto;
  border-radius: 2px;
}

.contact-link {
  color: var(--title-text-color);
  font-size: 14px;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .item:not(:first-child) {
  margin-left: 50px;
  cursor: pointer;
}

.pin {
  margin-right: 10px;
  color: var(--title-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.item {
  fill: currentColor;
}

/* главный контент страницы */
.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background-\ team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
}

.main-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;
}

/* кнопка */

.button {
  display: inline-block;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200;
  color: var(--white);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  margin: 0px;
  cursor: pointer;
  outline: none;
}

/* .button:hover,
.button:focus {
  color: var(--white);
  background: var(--accent-color);
  outline: none;
} */

/* наши преимущества */
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-one {
  padding-bottom: 0px;
}

.adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
}

.item-title {
  padding-bottom: 24px;
  width: 270px;
}

.item-title:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.picture {
  height: 120px;
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.symbol {
  width: 70px;
  height: 70px;
}

.feature-list .title {
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.text {
  color: var(--title-text-color);
  font-weight: 400;
  margin: 0px;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* навыки */

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.skills-list .title {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
}

.skills-list {
  display: flex;
}

.li:not(:last-child) {
  width: 370px;
  margin: 0px 30px 0px 0px;
}

.position {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.context {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
}

/* наша команда */

.team {
  background-color: var(--background-grey);
  
}

.team .list {
  display: flex;
}

.team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.name-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0px 0px 10px;
  text-align: center;
}

.photo {
  margin-bottom: 30px;
}

.text-team {
  color: var(--title-text-color);
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}

.team .text-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-link {
  padding-right: 32px;
  padding-left: 32px;
}

.team .ton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.team .ton:hover,
.team .ton:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.icon:last-child {
  margin-right: 0px;
}
.icon-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.application-link:not(:last-child) {
  margin-right: 10px;
}

/* постоянные клиенты */

.section-clients {
  display: flex;
}

.section-skills .client {
  justify-content: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  
}

/* подвал сайта */

.left-footer .logo {
  color: var(--white);
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.left-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.page-footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  text-decoration: none;
}

.address-list {
  margin-bottom: 9px;
}

.address-tel {
  padding-bottom: 60px;
}

.footer-text {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.join {
  display: inline-block;
}

.icon-net {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.icon-net-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-net-link:hover {
  background-color: var(--accent-color);
}

.image {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.footer-markup {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--white);
  margin-left: 10px;
}

/* Оформление Портфолио */

/* кнопки навигации */

.selective-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.selective-list .button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selective-list .push {
  margin-right: 8px;
}

.selective-list .push:last-child {
  margin-right: 0px;
}

.button-navigation {
  background: var(--background-grey);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  align-items: flex-start;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73;
  border: 0px solid transparent;
  margin: 0px;
  cursor: pointer;
}

.push {
  transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.push :hover,
.push :focus {
  color: var(--white);
  background-color: var(--accent-color);
  outline: none;
}

/* основной контент страницы */
.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: list-item;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-element:nth-child(3n) {
  margin-right: 0px;
}

.work-element:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.option {
  margin: 0px;
  border: 1px solid #eeeeee;
}

.portfolio {
  padding: 0px;
}

.title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px;
  margin: 0px;
}

.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
  padding: 0px 24px 20px;
  margin: 0px;
}

.img {
  display: block;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
  transform: translateY(0);
}

.description {
  padding: 63px 24px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}

.portfolio .work-element:hover .text,
.portfolio .work-element:focus .text {
  transform: translateY(0px);
}

.text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-decoration {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
}

.work-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* модальное окно */

.backdrop {
  position: fixed;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 300px;
  min-width: 400px;
  padding: 15px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  max-width: 30px;
  max-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white);
  outline: none;
  cursor: pointer;
}
